<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /SDP/bib-App/
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    RewriteRule ^api/(.*)$ restapi.php/$1 [L,QSA]
</IfModule>
